* {
    margin: 0;
    padding: 0;
}

th, td {
    padding: 16px;
}

th {
    background: #00ADE4;
}

td {
    background: #fffdd0;
}

table {
    margin-top: 20px;
    width: 1034px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.top-menu {
    width: 650px;
    height: 80px;
    float: left;
    margin-left: 200px;
}

.top-menu ul li{
    list-style: none;
    float: left;
    text-align: center;
}

.top-menu ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: white;
    margin-left: 100px;
    padding-top: 28px;
    cursor: pointer;
}

.top-menu ul li a:hover {
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}

body {
    background-image: url(img/hospital.jpg);
    background-size: 100%;
}

.listpatients {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}